<div class="panel">
    <div class="panel-heading">
        <i class="icon-tasks"></i>
        Cron Link
    </div>
    <div>
        <ul>
            <p class="cron-link-url">{$cron_link}</p>
       </ul>
    </div>
</div>
